[submodule "Externals/zlib-ng/zlib-ng"]
	path = Externals/zlib-ng/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	shallow = true
[submodule "Externals/libspng/libspng"]
	path = Externals/libspng/libspng
	url = https://github.com/randy408/libspng.git
	branch = v0.7.2
	shallow = true
[submodule "Externals/fmt/fmt"]
	path = Externals/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Externals/lz4/lz4"]
	path = Externals/lz4/lz4
	url = https://github.com/lz4/lz4
